<section class="content-header">
    <h1>
        Prestamos
      <small>Modulo De Prestamos Pendientes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/inicio"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a routerLink="/prestamos"> Prestamos</a></li>

        <li class="active"> Pendientes</li>
      </ol>
  </section>
  <section class="content">
    <!-- Default box -->
    <div class="box">
       <div class="box-header with-border">
         <h3 class="box-title">Listado de Libros</h3>

         <div class="box-tools pull-right">
           <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
             <i class="fa fa-minus"></i></button>
           
         </div>
       </div>
       <div class="box-body">
           
           <mat-form-field>
               <mat-label>Buscar</mat-label>
               <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" placeholder="..." #input autofocus>
             </mat-form-field>
            
             <div class="col-xs-12 table-responsive">

             <table mat-table [dataSource]="dataSource" class="table table-bordered" matSort>
             
              <!-- NOMBRE Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRES</th>
          
                <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
            </ng-container>
              <!-- APLELLIDO -->
              <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> APELLIDOS</th>
          
                <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
            </ng-container>
               <!-- ISBN Column -->
               <ng-container matColumnDef="isbn_libro">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN</th>
             
                   <td mat-cell *matCellDef="let element"> {{element.isbn_libro}} </td>
               </ng-container>
                 <!-- titulo_libro -->
                 <ng-container matColumnDef="titulo_libro">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header> TITULO</th>
             
                   <td mat-cell *matCellDef="let element"> {{element.titulo_libro}} </td>
               </ng-container>
             <!-- Autor -->
             <ng-container matColumnDef="autor_libro">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> AUTOR</th>
             
               <td mat-cell *matCellDef="let element"> {{element.autor_libro}} </td>
             </ng-container>
               <!-- Editorial -->
             <ng-container matColumnDef="editorial_libro">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA PRESTAMO</th>
             
               <td mat-cell *matCellDef="let element"> {{element.fecha_prestamo | date: 'dd MMMM yyyy'}} </td>
             </ng-container>
              
             <!-- Estado -->
             <ng-container matColumnDef="estado">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
               <td mat-cell *matCellDef="let element"> <span class="label label-danger" *ngIf="element.estado_prestamo != 0 else disponible">
                       Pendiente</span>
                       <ng-template #disponible>
                         <span class="label label-success" >Entregado</span> 
                       </ng-template>
                     
                     </td>
             </ng-container>
               <!-- Accion -->
               <ng-container matColumnDef="accion">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCION </th>
                   <td mat-cell *matCellDef="let element">
                           
                               <button class="btn btn-primary btn-sm" (click) = "EntregarLibro(element.id_prestamo)"> <i class="fa fa-retweet"></i> Devolver</button>
                   
                         </td>
                 </ng-container>
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
             
               <!-- Row shown when there is no matching data. -->
               <tr class="mat-row" *matNoDataRow>
                   <td class="mat-cell" colspan="4">No se encontro  "{{input.value}}"</td>
               </tr>
             </table>
             <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
             </div>
                    </div>
       <!-- /.box-body -->
       <div class="box-footer">
    
       </div>
       <!-- /.box-footer-->
     </div>
     <!-- /.box -->

 </section>